{
    "printWidth": 100,

    "tabWidth": 4,

    "singleQuote": true,

    "trailingComma": "es5",

    "semi": true,

    "bracketSpacing": true,

    "arrowParens": "avoid",

    "jsxSingleQuote": false,

    "insertPragma": false,

    "requirePragma": false
}
